---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <Navbar />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 100%;
    color: white;
  }
</style>
