---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Banner from '../components/Banner.astro'
import About from '../components/About.astro'
import UpcomingEvents from '../components/UpcomingEvents.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout title='Home of the DreamTeamSingers.'>
  <main>
    <Navbar />
    <Banner />
    <About />
    <UpcomingEvents />
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 100%;
    color: white;
  }
</style>
