<div
  id='who-we-are'
  class='banner-wrapper flex flex-col items-center h-fit bg-violet-300'
>
  <div
    class='font-oswald text-center text-6xl text-violet-800 font-bold w-fit pt-4'
  >
    WHO ARE WE?
  </div>
  <div
    class="mt-10 rounded-3xl h-[500px] w-[80%] bg-no-repeat bg-cover bg-center bg-[url('/public/about-us.jpg')]"
  >
  </div>
  <div class='mt-10 w-[80%] font-mohave text-2xl text-violet-700 text-center'>
    The Dream Team Singers are a passionate group dedicated to sharing the joy
    of music with the world. Through our performances, we strive to create
    unforgettable experiences while making a positive impact on our community.
    We organize a variety of events to raise funds for multiple charities,
    bringing people together through the power of song for a worthy cause.
    <div class='font-mohave font-bold text-violet-700 text-4xl'>
      Music Director: Carol Warmisham
    </div>
  </div>
  <img class='m-10 w-full' src='/public/notes.svg' />
</div>

<style></style>
