<div
  id='banner'
  class="banner-wrapper h-fit bg-no-repeat bg-cover bg-center bg-[url('/public/dts-banner.jpg')]"
>
  <div class='banner-grad flex flex-col items-center p-4 w-full'>
    <div
      class='font-oswald text-center text-7xl text-violet-300 font-bold w-fit'
    >
      HOME OF THE
    </div>
    <img class='pt-10 w-[600px]' src='/public/dts-logo-white.png' />
  </div>
</div>

<style>
  .banner-grad {
    background: rgb(86, 68, 112);
    background: radial-gradient(
      circle,
      rgba(86, 68, 112, 0.65) 0%,
      rgba(14, 4, 41, 0.9) 84%
    );
  }
</style>
