<div
  id='contact'
  class='py-10 px-20 flex flex-col items-center h-fit bg-violet-300'
>
  <div class='font-oswald text-center text-6xl text-violet-800 font-bold w-fit'>
    CONTACT US
  </div>

  <div class='flex flex-row max-[1000px]:flex-col-reverse items-center pt-4'>
    <div class='flex flex-col justify-center max-[1000px]:my-10'>
      <div class='font-mohave font-bold text-violet-700 text-6xl'>
        Email us at
      </div>
      <a href='mailto:dreamteamsingers@gmail.com'>
        <div class='font-mohave font-medium text-violet-700 text-3xl'>
          dreamteamsingers@gmail.com
        </div>
      </a>
      <div class='py-6 font-mohave text-violet-700 text-4xl'>
        Or turn up to our
      </div>
      <div class='font-mohave font-bold text-violet-700 text-6xl'>Meetings</div>
      <div class='font-mohave text-2xl'>
        <span class='text-violet-700 font-bold'>Every Thursday</span>
        <br />
        <span class='text-violet-700 font-medium'>7:00pm to 9:00pm </span>
        <br />
        <span class='text-violet-700'>
          Cleveleys Park Methodist Church, West Drive, <br />
          Cleveleys. FY5 2BL <br /> (use Stockdove Way entrance)
        </span><br />
      </div>
    </div>
    <img src='contact.png' />
  </div>
</div>

<style></style>
