<div class='nav-wrapper flex justify-between p-4'>
  <div class='logo-wrapper w-1 h-1'></div>
  <div class='link-wrapper flex flex-row space-x-12 font-mohave text-xl'>
    <div class='nav-item px-4 py-1 rounded-md hover:bg-violet-600'>Home</div>
    <div class='nav-item px-4 py-1 rounded-md hover:bg-violet-600'>
      Upcoming Events
    </div>
    <div class='nav-item px-4 py-1 rounded-md hover:bg-violet-600'>
      Past Events
    </div>
    <div class='nav-item px-4 py-1 rounded-md hover:bg-violet-600'>
      Contact Us
    </div>
  </div>
</div>
