<div
  id='top'
  class='nav-wrapper flex max-[730px]:flex-col max-[730px]:items-center justify-between p-4 bg-violet-400'
>
  <div class='logo-wrapper w-14 h-14 flex justify-center items-center'>
    <img src='dts-logo-white.png' />
  </div>
  <div
    class='link-wrapper flex flex-row max-[650px]:flex-col max-[650px]:space-y-2 min-[650px]:space-x-12 font-mohave text-xl items-center'
  >
    <a href='#top'
      ><div
        class='nav-item px-4 py-0.5 rounded-md hover:bg-violet-600 cursor-pointer'
      >
        Home
      </div></a
    >
    <a href='#who-we-are'
      ><div
        class='nav-item px-4 py-0.5 rounded-md hover:bg-violet-600 cursor-pointer'
      >
        About Us
      </div></a
    >
    <a href='#uevents'>
      <div
        class='nav-item px-4 py-0.5 rounded-md hover:bg-violet-600 cursor-pointer'
      >
        Upcoming Events
      </div>
    </a>
    <a href='#contact'>
      <div
        class='nav-item px-4 py-0.5 rounded-md hover:bg-violet-600 cursor-pointer'
      >
        Contact Us
      </div>
    </a>
  </div>
</div>
